---
# Configuration de l'agent Wazuh

- name: Configurer l'adresse du manager
  lineinfile:
    path: /var/ossec/etc/ossec.conf
    regexp: '<address>.*</address>'
    line: '    <address>{{ wazuh_manager_ip }}</address>'
    insertafter: '<client>'
  notify: restart wazuh-agent

- name: Configurer le port du manager
  lineinfile:
    path: /var/ossec/etc/ossec.conf
    regexp: '<port>.*</port>'
    line: '    <port>{{ wazuh_manager_port }}</port>'
    insertafter: '<address>'
  notify: restart wazuh-agent

- name: Configurer le protocole
  lineinfile:
    path: /var/ossec/etc/ossec.conf
    regexp: '<protocol>.*</protocol>'
    line: '    <protocol>{{ wazuh_protocol }}</protocol>'
    insertafter: '<port>'
  notify: restart wazuh-agent

- name: Déployer la configuration personnalisée
  template:
    src: ossec.conf.j2
    dest: /var/ossec/etc/ossec.conf
    owner: root
    group: wazuh
    mode: '0640'
    backup: yes
  notify: restart wazuh-agent

- name: Créer le fichier client.keys si nécessaire
  file:
    path: /var/ossec/etc/client.keys
    state: touch
    owner: root
    group: wazuh
    mode: '0640'
  changed_when: false
